
.landing-con{
  height: calc(90vh - 80px);
  border-bottom: 2px solid black;
}
.motto.contact{
  font-size: 3rem;
  color: whitesmoke;
}
.motto.about{
  color: rgba(173, 229, 151, 0.894);
  text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.2),
                 0px -5px 10px rgba(255, 255, 255, 0.15);
}
.motto.services{
  color: #EDE8D0;
  text-align: center;
  text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
                 0px -5px 10px rgba(255,255,255,0.15);
}
.landing-con.about {
  background-color: rgb(23, 23, 23);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.landing-con.about.fade-in {
  opacity: 1;
}
.landing-con.services {
  background-color: #307a55;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.landing-con.services.fade-in {
  opacity: 1;
}
.landing-con.contact {
  height: 50vh;
  background-color: rgb(56, 56, 56);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.landing-con.contact.fade-in {
  opacity: 1;
}
.services-container{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-top: 35px;
}
.service-box{
  width: 20vw;
  height: 50vh;
  border-radius: 10px;
}

.landing-text{
  position: relative;
  top: 15vh;
  left: 10vw;
  letter-spacing: 1px;
  background-color: transparent;
  width: 80vw;
}

.landing-text.services{
  top: 7vh;
}

.landing-text.contact{
  top: 7vh;
}

.media{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: grey;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.media:hover{
  background-color: rgb(184, 184, 184);
  transition: 0.3s ease-in-out;
}

.contact-panel{
  width: 35vw;
  height: 200px;
}

.media-container{
  display: flex;
  justify-content: space-between;
}

.contact-disc-title{
  color: whitesmoke;
  font-size: 20px;
}

.contact-disc-text{
  color: rgb(218, 77, 77);
  font-size: 16px;
}

.media-and-title{
  color: whitesmoke;
  margin-top: 20px;
  gap: 15px;
  display: flex;
  align-items: center;
}

.name{
  background-color: transparent;
  width: 200px;
}
.name.about{
  background-color: transparent;
  width: 80vw;
  font-size: 20px;
  font-weight: 100;
  color: whitesmoke;
}

.motto{
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 10px;
  margin-top: 0;
  width: 80vw;
  background-color: transparent;
  color: rgba(36, 46, 31, 0.486);
}

.hook{
  width: 70vw;
  background-color: transparent;
}

.landing-buttons{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 20px;
  max-width: 320px;
  background-color: transparent;
}

.landing-buttons button {
  padding: 1em 2em;
  background-color: rgb(41, 41, 41);
  border: none;
  color: white;
  font-size: 15px;
  width: 150px;
  border-radius: 100px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.landing-buttons button::after {
  content: '';
  position: absolute;
  height: 115%;
  width: 105%;
  border-radius: 100px;
  background-image: linear-gradient(to bottom right, #607c3c, #58bb89);
  z-index: -1;
  transition: 2s ease;
}

.landing-buttons button:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #58bb89, -40px 0 100px #607c3c;
  cursor: pointer;
  transition: 2s ease-in-out;
}

.blob-outer-container{
  height: 100%;
  width: 100%;
  z-index: -1;
  inset: 0;
  margin: auto;
  filter: blur(120px);
}

.blob-inner-container{
  border-radius: 1000px;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  min-width: 100px;
  overflow: hidden;
  background-color: blue;
  transform: scale(0.5);
  padding-left: 15em;
}

.blob{
  position: absolute;
  height: 100vh;
  inset: 0;
  margin: auto;
  background: conic-gradient(from 0deg, #e6832b, #f8dd5d, #58bb89, #db605d, #607c3c );
  animation: spinBlob 8s linear infinite;
}

@media (max-width: 800px){ 

  .contact-disc-text{
    font-size: 11px;
  }

  .name.about{
    font-size: 17px;
  }

  .landing-text{
    position: relative;
    top: 10vh;
    left: 10vw;
    letter-spacing: 1px;
    background-color: transparent;
  }

  .link{
    background: transparent;
    padding-right: 15px;
  }

  .landing-buttons{
    display: flex;
    position: relative;
    justify-content: left;
    padding-top: 20px;
    max-width: 320px;
    background-color: transparent;
  }
  
  .landing-buttons button {
    padding: 1em 2em;
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    width: 37vw;
    max-width: 140px;
    border-radius: 100px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons button::after {
    content: '';
    position: absolute;
    height: 115%;
    width: 105%;
    border-radius: 100px;
    background-image: linear-gradient(to bottom right, #607c3c, #58bb89);
    z-index: -1;
    transition: 2s ease;
  }
  
  .buttons button:hover {
    z-index: 0;
    box-shadow: 40px 0 100px #58bb89, -40px 0 100px #607c3c;
    cursor: pointer;
    transition: 2s ease-in-out;
  }

  .blob-outer-container{
    height: 100%;
    width: 50%;
    z-index: -1;
    inset: 0;
    margin: auto;
    filter: blur(120px);
  }
  
  .blob-inner-container{
    border-radius: 1000px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50vw;
    height: 150vh;
    min-width: 100px;
    overflow: hidden;
    background-color: blue;
    transform: scale(0.5);
    padding-left: 15em;
  }
  
  .blob{
    position: absolute;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #e6832b, #f8dd5d, #58bb89, #db605d, #607c3c );
    animation: spinBlob 8s linear infinite;
  }
  .text{
    position: relative;
    top: 10rem;
    left: 10vw;
    letter-spacing: 1px;
    background-color: transparent;
    width: 80%;
  }
}

@keyframes spinBlob {
  0% {
      transform: rotate(0deg) scale(2);
  }
  100%{
      transform: rotate(1turn) scale(2);
  }
}

.link{
  background: transparent;
}
