.forgot-password-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
}

.forgot-password-container{
    position: relative;
    text-align: center;
    width: 80vw;
    max-width: 850px;
    height: 550px;
    background: #6a8c66;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0, .2);
    overflow: hidden;
}

.forgot-password-container img{
    width: 50px;
    position: absolute;
    left: 0;
    margin: 15px;
}

.forgot-password-container .FP-text-container{
    position: relative;
    padding-top: 150px;
    text-align: center;
    color: whitesmoke;
}

.FP-input-container{
    padding-top: 15px;
}

.FP-input-container input{
    width: 40%;
    padding: 13px 40px 13px 20px;
    background: lightgrey;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: grey;
    font-weight: 100;
}

.FP-input-container input::placeholder{
    color: darkgrey;
    font: 0;
}

.FP-btn-container {
    padding-top: 25px;
}

.FP-btn-container button{
    width: 25%;
    height: 40px;
    background: rgba(89, 167, 114, 0.579);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: whitesmoke;
    font-size: 300;
}