.extra-filters-menu-journal{
    background-color: lightgrey;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    z-index: 1;
    height: 285px;
    width: 130px;
}
.filtered-by-text{
    margin-left: 30px
}
.filtered-account-name{
    color: gray;
    font-weight: 100;
}
.filtered-account-name span{
    color: black;
    font-weight: 600;
}
.extra-filters-menu-journalf{
    background-color: lightgrey;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    z-index: 1;
    height: 190px;
    width: 130px;
}
.j-extra-filter-menu-options-extended-subcategory{
    background-color: rgb(188, 188, 188);
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    margin-top: 34px;
    margin-left: -5px;
}
.j-extra-filter-menu-options-extended-date{
    background-color: rgb(188, 188, 188);
    border-radius: 0px 0px 8px 0px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    z-index: 1;
    margin-top: 73px;
    margin-left: -5px;
}
.j-extra-filter-menu-options-extended-type{
    background-color: rgb(188, 188, 188);
    border-radius: 0px 0px 8px 0px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    z-index: 1;
    margin-top: 151px;
    margin-left: -5px;
}