#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the div */
    left: 50%;
    margin-left: -60px; /* Offset for centering */
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.home-navbar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.home-nav-items{
    display: flex;
    justify-items: center;
}

.home-navbar .home-nav-logo {
    width: 32px;
    margin: 15px;
    cursor: pointer;
}
.home-nav-link.lo p{
    color: rgb(180, 77, 77)
}
.home-navbar .home-nav-items .home-nav-link{
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.home-navbar .home-nav-items .home-nav-link:last-child{
    margin: 0;
}

.home-navbar .home-nav-items .home-nav-link:nth-last-child(1){
    margin-right: 8px;
}


.profile-container{
    display: inline-flex;
    background-color: rgba(151, 184, 151, 0.805);
    height: 59px;
    border-left: 1px solid black;
    padding-left: 0px;
}

.profile-container:hover{
    background-color:  rgba(190, 219, 190, 0.805);
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.home-navbar .home-nav-items .home-nav-link:hover{
    opacity: 0.7;
    color: #3c572f;
    cursor: pointer;
}

.home-navbar .home-nav-toggle{
    display: none;
    transition: all 1s ease-in-out;
}

.home-nav-link img{
    width: 32px;
    clip-path: circle();
}

.home-nav-link-txt{
    margin: 0;
    padding-top: 10px;
}

.home-nav-username{
    padding-top: 14px;
    font-size: 12px;
    padding-right: 5px;
}

.help{
    position: absolute;
    margin-top: 70px;
    margin-left: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.help:hover{
    background-color: rgba(225, 255, 107, 0.485);
    border-radius: 100px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.help-icon{
    position: absolute;
}

.sign-out-dropdown-container{
    display: flex;
    justify-content: right;
}
.sign-out-dropdown{
    position: absolute;
    background-color: rgba(172, 81, 81, 0.803);
    border-radius: 0px 0px 0px 10px;
    width: 155px;
    text-align: center;
    cursor: pointer;
}
.sign-out-dropdown:hover{
    background-color: rgba(172, 81, 81, 0.884);
    transition: 0.15s all ease-in-out;
}
.sign-out-dropdown p{
    padding-bottom: 12px;
    color: white;
}

@media (max-width: 700px){

    .profile-container{
        background-color: transparent;
        border: none;
    }

    .profile-container:hover{
        background-color: transparent;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }

    .home-nav-username{
        visibility: hidden;
    }
    .home-navbar.open{
        background: #7bab72;
        border: none;
        transition-delay: 0.5s;
    }
    .sign-out-dropdown-container{
        background-color: transparent;
        visibility: hidden;
    }
    
    .home-navbar .home-nav-items{
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: #dffddd;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: translateY(-110%);
    }

    .home-navbar .home-nav-items .home-nav-link{
        font-size: 35px;
        padding-bottom: 40px;
    }

    .home-navbar .home-nav-items .home-nav-link::before{
        background: transparent;
    }

    .home-navbar .home-nav-items.open{
        transition: all 1s ease-in-out;
        transform: translateY(0);
    }

    .home-navbar .home-nav-toggle{
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-right: 15px;
        transition: all 1s ease-in-out;
    }

    .home-nav-toggle .bar-home-nav{
        position: relative;
        width: 32px;
        height: 2px;
        background: black;
    }

    .home-nav-toggle .bar-home-nav::before , .home-nav-toggle .bar-home-nav::after{
        content: "";
        position: absolute;
        height: 2px;
        background: black;
        border-radius: 2px;
        transform: all .45s ease-in-out;
    }

    .home-nav-toggle .bar-home-nav::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0px;
    }

    .home-nav-toggle .bar-home-nav::after {
        width: 32px;
        transform: translateY(8px);
    }

    .home-nav-toggle.open .bar-home-nav{
        transform: translateX(-40px);
        background: transparent;
        transition: all 1s ease-in-out;
    }

    .home-nav-toggle.open .bar-home-nav::before{
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
        transition: all 1s ease-in-out;
    }
    .home-nav-toggle.open .bar-home-nav::after{
        width: 32px;
        transform: rotate(-45deg) translate(26px, 26px);
        transition: all 1s ease-in-out;
    }

    .home-nav-link img{
        margin-left: 65%;
        width: 65px;
        clip-path: circle();
    }
}