.homepage-dash-con{
    margin-top: 55px;
    display: flex;
    justify-content: center;
}
.homepage-dash-welcome-text h3{
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.homepage-dash-content{
    width: 90%;
}
.panels-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}
.panel-titles{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 8px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: rgba(9, 30, 8, 0.486);
}
.panel{
    border-radius: 10px;
    background-color: rgba(64, 86, 66, 0.345);
    transition: 0.3s all ease-in-out;
}
.panel:hover{
    border-radius: 10px;
    background-color: rgba(64, 86, 66, 0.39);
    transition: 0.15s all ease-in-out;
}

.panel.finacial-overview{
    flex: 60%;
    height: 20vh;
}

.panel.recent-activity{
    flex: 30%;
}

.panel.performance-ratios{
    flex: 45%;
    height: 35vh;
}

.panel.pie-breakdown{
    flex: 45%;
    
}

.panel.view-more{
    flex: 100%;
    padding-bottom: 35px;
}
.view-more-buttons{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}
.view-more-button p{
    color: rgb(35, 35, 35);
}
.view-more-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(63, 134, 72, 0.621);
    border-radius: 8px;
    width: 23.5%;
    height: 100px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.view-more-button p{
    font-size: 12px;
}
.view-more-button:hover{
    background-color: rgba(63, 134, 72, 0.443);
    transition: 0.15s all ease-in-out;
}

.breakdown-title{
    display: flex;
    justify-content: space-between;
}
.query-selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
    padding: 7px;
    background-color: rgba(81, 90, 83, 0.481);
    width: 50px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}
.query-selector:hover{
    background-color: rgba(81, 90, 83, 0.658);
    transition: 0.3s all ease-in-out;
}
.query-options{
    margin: 130px 0px 0px -7px;
    position: absolute;
    background-color: rgb(100, 135, 108);
    width: 64px;
    height: 100px;
    overflow: auto; /* or overflow-y: auto; if only vertical scrolling is needed */
    border-radius: 0px 0px 5px 5px;
    scrollbar-width: none;
    text-align: center;
}
.query-options p{
    padding: 5px 0px 5px 0px;
    margin: 0;
    border-bottom: 1px black solid;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}
.query-options p:hover{
    background-color: rgba(81, 90, 83, 0.658);
    transition: 0.3s all ease-in-out;
}
.query-options::-webkit-scrollbar {
    display: none;
}
.pie-charts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.chart{
    width: 50%;
    height: 240px;
    display: flex;
    flex-direction: column; /* stack vertically */
    align-items: center;    /* center horizontally */
    justify-content: center; /* optional: center vertically if needed */
    text-align: center;      /* center the text inside <p> */
}
.chart.income{
    border-right: 1px solid rgba(0, 0, 0, 0.268);
}
.chart p{
    padding: 0;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
}
.pie-chart{
    width: 100%;
    height: 80%;
}
.pie-chart canvas{
    width: 100% !important;
    height: 100% !important;
}
.pie-chart-totals{
    color: rgba(70, 70, 70, 0.605);
    font-size: 12px;
}
.noti-container{
    width: 85%;
    margin: 0 auto;
    height: 100px;
    overflow: auto; /* or overflow-y: auto; if only vertical scrolling is needed */
    border-radius: 5px;
    
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
}
  
/* Hide scrollbar for Chrome, Safari, and Opera */
.noti-container::-webkit-scrollbar {
    display: none;
}

.notification{
    background-color: rgba(91, 99, 88, 0.415);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.notification:hover{
    background-color: rgba(91, 99, 88, 0.557);
    transition: 0.15s all ease-in-out;
}

.notification p{
    font-size: 12px;
    padding: 12px 5px 12px 7px;
}

.notification h1{
    font-size: 12px;
    padding: 0px 5px 0px 0px;
}

@media (max-width: 800px){
    .panels-con{
        flex-direction: column
    }
    .panel.finacial-overview, .panel.recent-activity, .panel.performance-ratios, .panel.pie-breakdown, .panel.view-more{
        flex: 100%;
        height: 70vh;
    }

    .noti-container{
        height: 180px;
        margin-bottom: 20px;
    }
}