.table-master-container{
    padding-top: 80px;
}
.table-master-container table{
    border-collapse: collapse;
    margin: auto;
    width: 95%;
    caption-side: bottom;
}

.table-master-container caption, th, td{
    padding: 1rem;
}

.table-master-container th{
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.table-master-container tr:nth-of-type(2n){
    background: rgba(0, 0, 0, 0.07);
}

.table-master-container caption{
    text-align: left;
    color: grey;
}

@media (max-width: 650px){

    .table-master-container th{
        display: none;
    } 

    .table-master-container td{
        display: grid;
        grid-template-columns: 15ch auto;
        padding: 0.6rem 1rem;
    } 

    .table-master-container td:first-child{
       padding-top: 2rem;
    } 

    .table-master-container td:last-child{
        padding-bottom: 2rem;
    } 

    .table-master-container td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
}


