.table-master-container{
    padding-top: 80px;
}
.table-master-container table{
    border-collapse: collapse;
    margin: auto;
    width: 95%;
    caption-side: bottom;
}

.table-master-container caption, th, td{
    padding: 1rem;
}

.table-master-container th{
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.table-master-container tr:nth-of-type(2n){
    background: rgba(0, 0, 0, 0.07);
}

.table-master-container caption{
    text-align: left;
    color: grey;
}

.addUserModalOpen-btn-container{
    position: absolute;
    top: 90px;
    right: 0;
    padding-right: 2.4%;
    padding-bottom: 5px;
}

.addUserModalOpen-btn {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .addUserModalOpen-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .addUserModalOpen-btn:hover {
    background-color: #2c974b;
  }
  
  .addUserModalOpen-btn:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .addUserModalOpen-btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .addUserModalOpen-btn:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

@media (max-width: 650px){

    .table-master-container th{
        display: none;
    } 

    .table-master-container td{
        display: grid;
        grid-template-columns: 15ch auto;
        padding: 0.6rem 1rem;
    } 

    .table-master-container td:first-child{
       padding-top: 2rem;
    } 

    .table-master-container td:last-child{
        padding-bottom: 2rem;
    } 

    .table-master-container td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
}


