.login-modal-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
}

.login-container{
    position: relative;
    width: 80vw;
    max-width: 850px;
    height: 550px;
    background: whitesmoke;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0, .2);
    overflow: hidden;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s ;
}

.login-container.active .form-box {
    right: 50%;

}

.form-box.register {
    visibility: hidden;
}

.login-container.active .form-box.form-box.register {
    visibility: visible;
}

form {
    width: 100%;
}

.login-container h1{
    font-size: 1.5em;
    margin: -10px 0;
    color: #000000d6;
}

.login-input-box{
    position: relative;
    margin: 30px 0;
}

.login-input-box input{
    width: 67%;
    padding: 13px 40px 13px 20px;
    background: lightgrey;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: grey;
    font-weight: 100;
}

.login-input-box input::placeholder{
    color: darkgrey;
    font: 0;
}

.login-input-box i{
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
}

.forgot-link{
    margin: 15px 0 15px;
    font-size: 12px;
}

.forgot-link a{
    color: #000000d6;
    text-decoration: none;
}

.bttn{
    width: 67%;
    height: 48px;
    background: #6a8c66;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: whitesmoke;
    font-size: 300;
}

.toggle-box{
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-box::before{
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    left: -250%;
    background: #6a8c66;
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}

.login-container.active .toggle-box::before{
    left: 50%;
    
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left{
    left: 0;
    transition-delay: 1.2s;
}

.login-container.active .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right{
    right: -50%;
    transition-delay: .6s;
}

.login-container.active .toggle-panel.toggle-right{
    right: 0;
    transition-delay: 1.2s;
}

.toggle-panel p{
    margin-bottom: 40px;
}

.toggle-panel h1{
    color: whitesmoke;
    margin-bottom: 3px;
}

.toggle-panel h2{
    color: whitesmoke;
    font-size: 10px;
    margin-top: 20px;
}

.toggle-panel .bttn {
    width: 40%;
    background: transparent;
    border: 2px solid whitesmoke;
    box-shadow: none;
}

.link{
    text-decoration: none;
}

.toggle-panel.toggle-left img {
    position: absolute;
    left: 15px;
    top: 15px;
    height: 50px;
    padding-bottom: 40px;
}

.toggle-panel.toggle-right img {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 50px;
    padding-bottom: 40px;
}