
.modal-container.loading{
  z-index: 9995; /* Very high so it's above all other elements */
  background-color: rgba(0,0,0,0.6);
}
.modal-container.loading p{
  position: absolute;
  text-align: center;
  margin-top: 150px;
  background-color: rgb(216, 218, 119);
  padding: 8px;
  border-radius: 5px;
  z-index: 9996; /* Very high so it's above all other elements */
}
.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #21d76d;
    position: relative;
    z-index: 9999; /* Very high so it's above all other elements */
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: #a8caa6;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
  }
  .loader:after {
    animation-delay: 0.5s
  }
  @keyframes rotate {
    100% {
        transform: rotate(360deg) translate(30px)
    }
  }  